---
---
@import "bootstrap-custom";

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headers;
}

.site-title {
  font-family: $font-family-headers;
  font-size: $font-size-base * 1.5;

  .title-name {
    display: block;
    font-size: $font-size-base * 2.5;
    font-weight: $font-weight-bold;
  }
}
