---
---
@import "bootstrap-custom";

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headers;
}

.site-title {
  font-family: $font-family-headers;
  font-size: $font-size-base * 1.5;

  .title-name {
    font-weight: $font-weight-bold;
  }
}

.article-list {
  article {
    p:last-child {
      margin-bottom: 0;
    }

    &:hover {
      border-color: $primary;
    }
  }

  a {
    color: $body-color;

    h2 {
      color: $link-color;
    }

    &:hover {
      text-decoration: none;

      h2 {
        text-decoration: $link-hover-decoration;
      }
    }

  }
}
