---
layout: default
---
<h1>{{ page.title }}</h1>
<ul class="list-unstyled">
  {% for item in site[page.section] %}
    <li>
      <article class="card p-3 mb-2">
        <div class="row">
          {% if item.preview %}
            <div class="col-auto">
              <img src="{{ item.preview }}" alt="{{ item.title }}">
            </div>
          {% endif %}

          <div class="col">
            <h2>{{ item.title }}</h2>
            {{ item.excerpt }}
          </div>
        </div>
      </article>
    </li>
  {% endfor %}
</div>
